# This notebook will be used for Capstone project

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## Week 3 - Applied Data Science Capstone

The code below is used for the Toronto neighborhood clustering exercise

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
#Fetching the data from the given website
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [5]:
soup = BeautifulSoup(source, 'lxml')
# print(soup.prettify())

In [6]:
table = soup.find('table')
# print(table.prettify())

In [7]:
# columns = list()
# for headings in table.tr.find_all('th'):
#     print(headings.text)
#     columns.append(headings.text)

In [8]:
# Data Cleaning
data = list()
for rows in table.find_all('tr'):
    
    row = rows.find_all('td')
    if row:
        postalcode = row[0].text.rstrip()
        borough = row[1].text.rstrip()
        neighborhood = row[2].text.rstrip()
        if borough != 'Not assigned':
            if neighborhood == 'Not assigned':
                neighborhood = borough
            data.append([postalcode, borough, neighborhood])

col_head = list()
for cols in table.tr.find_all('th'):
    col_head.append(cols.text.strip())

In [9]:
col_head

['Postcode', 'Borough', 'Neighbourhood']

In [10]:
# convert into a dataframe
df = pd.DataFrame(data, columns = col_head)
print(df.shape)

(210, 3)

In [11]:
df.describe()

       Postcode    Borough   Neighbourhood
count       210        210             210
unique      103         10             208
top         M9V  Etobicoke  St. James Town
freq          8         45               2

In [12]:
# custom groupby to merge Neighbourhoods
df = df.groupby('Postcode').agg(
    {
        'Borough':'first', 
        'Neighbourhood': ', '.join,}
    ).reset_index()

In [13]:
df.describe()

       Postcode     Borough                                  Neighbourhood
count       103         103                                            103
unique      103          10                                            103
top         M3C  North York  The Kingsway, Montgomery Road, Old Mill North
freq          1          24                                              1

In [14]:
df.head(5)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [15]:
df.shape

(103, 3)